@import "config";

label, .h8t{
  @include transition(500ms);
}
// animation box
#anime{
  width: 98%;
  height: 500px;
  margin: $marg auto;
  border-radius: $bordRad;
  font-family: $fontTitle;
  padding: 2px;
  background-color: transparent;
  position: relative;

  // hide out rotation
  overflow: hidden;

  // responsiveness
  @include media($bigPhone){
    width: 85%;
  }
  @include media($tablet){
    width: 70%;
  }
  @include media($laptop){
    width: 50%;
  }

  #infos{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: $darkCol;
    border-radius: $bordRad;
    color: gray;

    h1{
      margin: 0;
      padding: 10px 10px 40px;
      color: $darkCol;
      text-align: center;
    }
    .form1{

      section{
        margin-bottom: 40px;
        position: relative;
      }
      input{
        all: unset;
        color: $darkCol;
        background-color: transparent;
        width: 95%;
        padding: 10px;
        text-align: left;
        position: relative;
        z-index: 2;
        font: {
          family: $fontText;
          weight: bold; 
        }
        @include media($bigPhone){
          width: 70%;
          left: 15%;
        }
      }
      label{
        z-index: 1;
        position: absolute;
        padding: 10px;
        left: 2.5%;
        @include transform(translateY(-41px));
        @include media($spBreak1){
          @include transform(none);
        }
        @include media($bigPhone){
          left: 16.5%;
        }
      }
      // background animation
      .h8t{
        background: $mainCol3;
        height: 1px;
        width: 98%;
        border-radius: $bordRad;
        position: absolute;
        left: 1%;

        @include media($bigPhone){
          left: 15%;
          width: 70%;
        }
      }
      
      // transitions
      input:focus ~ label, 
      input:valid ~ label{
        @include transform(translate(-15px, -66px));
        font-size: 13px;

        @include media($spBreak1){
          @include transform(translate(-15px, -28px));
        }
      }
      input:focus ~ label ~ .h8t,
      input:valid ~ label ~ .h8t{
        height: 38px;
        @include transform(translateY(-38px));
      }
      // buttons -------------------
      #buttons{
        @include flex;
        justify-content: space-around;
        width: 100%;

        .acct{
          padding: 10px;
        }
      }
    }
  }
}
// add a before background
#anime::before{
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 500px;

  // set the rotation origin (center)
  transform-origin: bottom right;

  // colors
  background: linear-gradient(to bottom, $mainCol3, $mainCol3, transparent);

  // rotate anime
  @include animation(colRotation1, 7s);
  @keyframes colRotation1 {
    from{ @include transform(rotate(0deg)); }
    to{ @include transform(rotate(360deg)); }
  }
}
// add an after background
#anime::after{
  content: "";
  position: absolute;
  
  // position it relatively until the side touch the center of the main container
  top: 50%;
  left: 50%;
  width: 100%;
  height: 500px;

  // set the rotation origin (center)
  transform-origin: top left;

  // colors
  background: linear-gradient(to top, $mainCol3, $mainCol3, transparent);

  // rotate anime
  @include animation(colRotation2, 7s);
  @keyframes colRotation2 {
    from{ @include transform(rotate(0deg)); }
    to{ @include transform(rotate(360deg)); }
  }
}
footer{
  box-shadow: 
    0 -1px 20px 5px rgba(255, 0, 255),
    0 -1px 20px 5px rgba(255, 0, 255);
}