@import "config";

// button to quickly go to checkout
.forCheck{
  width: 100%;
}
.goToCheckout{
  @include buttonStyle;
  position: absolute;
  left: 1.5%;
  width: auto;

  @include media($bigPhone){
    left: 3px;
  }
  writing-mode: vertical-lr;
  @include transform(rotate(180deg));

  a{
    display: block;
    padding: $pad * 1.5;
  }
}

// item's card --------------------------
#cart-items{
  padding: $marg 0;
  @include flex;
  justify-content: space-around;
  align-content: space-around;
}
.item{
  color: $mainCol3;
  @include bord(2px);
  width: 97%;
  margin: 0 0 $marg;
  @include media($bigPhone){
    margin: 0 $marg $marg;
  }
  overflow: hidden;
  border-radius: $bordRad;

  @include media($bigPhone){
    width: 350px;
  }
  
  .labels{
    font: {
      size: 20px;
      weight: bold;
    }
  }
  .price{
    font: {
      size: 22px;
      weight: bold;
    }
  }
  .image img{
    width: 100%;
    height: auto;
    @include media($bigPhone){
      height: 300px;
    }
  }
  .quantity{
    @include flex;
    
    .quanDesign{
      @include flex(nowrap);
      justify-content: end;

      div{
        padding: 10px 15px;
        border: 1px solid $mainCol3;
        height: fit-content;
      }
      div:not(div:nth-child(2)){
        cursor: pointer;
      }
      div:first-child{
        border-radius: $bordRad 0 0 $bordRad;
      }
      div:nth-child(2){
        border-width: 1px 0;
      }
      div:last-child{
        border-radius: 0 $bordRad $bordRad 0;
      }
    }
  }
  
  article:not(.image){
    @include perfect_center;
  }
  
  article{
    padding: 10px 0;
  }
  /*--- REMOVE BUTTON ---*/
  #remove{
    @include transition(300ms);
    font: {
      weight: 900;
      size: 30px;
    }
    cursor: pointer;
    
    &:hover{
      background: $mainCol3;
      color: $darkCol;
    }
  }
  article[class]{
    @include flex;
    justify-content: space-between;
    border-bottom: $bord;
    padding: 10px;
  
    div:not(.labels, .quanDesign div){
      text-align: right;
      flex-grow: 1;
    }
  }
}
#checkout{
  @include bord(2px);
  width: 97%;
  margin: 0 auto $marg;
  border-radius: $bordRad;
  
  @mixin titles(){
    text-align: center; 
    margin: 0;
   
    font: {
      family: $fontTitle;
      size: 13vw;
    } 
    color: $mainCol2;
    @include media($bigPhone){
      font-size: 60px;
    }
  }
  h1{
    @include titles;
    border-bottom: 2px dashed $mainCol2;
    padding: 30px 0;
  } 
  #contain-checkout-info{
    padding: 2*$pad;
  }
  article{
    &:not(&:last-child){
      margin-bottom: 3*$pad;
    }
    @include flex;
    justify-content: space-between;

    .labels, .price{
      font: {
        size: 24px;
        weight: bold;
      }
      @include media($tablet){
        font-size: 30px;
      }
    }
    .labels{ 
      color: $mainCol2; 
      @include media($small){
        font-size: 16px;
      }

      span{ color: red; }
    }
    .price{ 
      color: $mainCol3; 
    }
  }

  #submitOrder{
    all: unset;
    display: block;
    width: 100%;
    @include titles;

    @include transition(300ms);
    border-top: 2px ridge $mainCol2; 
    padding: 15px 0;
    cursor: pointer;

    &:hover{
      color: $darkCol;
      background-color: $mainCol2;
    }
  }
  .right{
    text-align: right;
    @include flex(nowrap);
    justify-content: end;
    width: 100%;

    input, select{
      display: block;
      width: 100%;
      padding: $pad;
      border-radius: $bordRad;
      color: $darkCol;
      background-color: $mainCol3;
      font-size: 20px;
      border: 1px ridge $mainCol1;

      @include media($tablet){
        font: { 
          size: 30px; 
          weight: bold;
        }
      }
      @include media($small){
        font-size: 16px;
      }
      &:focus{
        box-shadow: 0 1px 10px $mainCol3, 0 -1px 10px $mainCol3, 1px 0 10px $mainCol3, -1px 0 10px $mainCol3;
      }
    }
  }
  ::placeholder{
    color: #535252;
    font-weight: normal;
  }
  .coupon input{ border-radius: $bordRad 0 0 $bordRad; }
  #enterCoupon{
    all: unset;
    @include transition(300ms);
    border: 1px outset $mainCol2;
    display: block;
    padding: 0 $pad;
    color: $mainCol3;

    height: 31px;
    font-weight: bold;
    
    @include media($phone){
      height: 36px;
      font-size: 20px;
    }
    @include media($tablet){
      height: 47px;
      font-size: 24px
    }
    border-radius: 0 $bordRad $bordRad 0;
    cursor: pointer;

    &:hover{
      background: $mainCol3;
      color: $darkCol;
    }
  }
  #error{
    color: red;
    font: {
      size: 30px;
      weight: bold;
    }
  }
}

// item's card end--------------------------