// normal web safe fonts with fallbacks
$sanSerif1: Arial, Helvetica, sans-serif;
$sanSerif2: Tahoma, Verdana, sans-serif;
$sanSerif3: "Trebuchet MS", Helvetica, sans-serif;
$sanSerif4: Geneva, Verdana, sans-serif;

$serif1: "Times New Roman", Times, serif;
$serif2: Georgia, serif;
$serif3: Garamond, serif;

$monospace: "Courier New", Courier, monospace;

$cursive: "Brush Script MT", cursive;

$fantasy: Copperplate, Papyrus, fantasy;

// some google fonts from google API
$gfont1: Sofia;
$gfont2: Audiowide;