* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

::-moz-selection {
  background: rgb(253, 123, 253);
  color: rgb(44, 7, 44);
}

::selection {
  background: rgb(253, 123, 253);
  color: rgb(44, 7, 44);
}

body {
  overflow-x: hidden;
  background-color: rgb(44, 7, 44);
  margin: 0;
  font-family: Garamond, serif;
}

a {
  text-decoration: none;
  color: unset;
}

label, .h8t {
  transition: 500ms;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  -moz-transition: 500ms;
}

#anime {
  width: 98%;
  height: 500px;
  margin: 25px auto;
  border-radius: 8px;
  font-family: Audiowide, "Lucida Handwriting", cursive;
  padding: 2px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 500px) {
  #anime {
    width: 85%;
  }
}
@media only screen and (min-width: 768px) {
  #anime {
    width: 70%;
  }
}
@media only screen and (min-width: 992px) {
  #anime {
    width: 50%;
  }
}
#anime #infos {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(44, 7, 44);
  border-radius: 8px;
  color: gray;
}
#anime #infos h1 {
  margin: 0;
  padding: 10px 10px 40px;
  color: rgb(44, 7, 44);
  text-align: center;
}
#anime #infos .form1 section {
  margin-bottom: 40px;
  position: relative;
}
#anime #infos .form1 input {
  all: unset;
  color: rgb(44, 7, 44);
  background-color: transparent;
  width: 95%;
  padding: 10px;
  text-align: left;
  position: relative;
  z-index: 2;
  font-family: Garamond, serif;
  font-weight: bold;
}
@media only screen and (min-width: 500px) {
  #anime #infos .form1 input {
    width: 70%;
    left: 15%;
  }
}
#anime #infos .form1 label {
  z-index: 1;
  position: absolute;
  padding: 10px;
  left: 2.5%;
  transform: translateY(-41px);
  -o-transform: translateY(-41px);
  -webkit-transform: translateY(-41px);
  -moz-transform: translateY(-41px);
  -ms-transform: translateY(-41px);
}
@media only screen and (min-width: 427px) {
  #anime #infos .form1 label {
    transform: none;
    -o-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
  }
}
@media only screen and (min-width: 500px) {
  #anime #infos .form1 label {
    left: 16.5%;
  }
}
#anime #infos .form1 .h8t {
  background: rgb(224, 4, 224);
  height: 1px;
  width: 98%;
  border-radius: 8px;
  position: absolute;
  left: 1%;
}
@media only screen and (min-width: 500px) {
  #anime #infos .form1 .h8t {
    left: 15%;
    width: 70%;
  }
}
#anime #infos .form1 input:focus ~ label,
#anime #infos .form1 input:valid ~ label {
  transform: translate(-15px, -66px);
  -o-transform: translate(-15px, -66px);
  -webkit-transform: translate(-15px, -66px);
  -moz-transform: translate(-15px, -66px);
  -ms-transform: translate(-15px, -66px);
  font-size: 13px;
}
@media only screen and (min-width: 427px) {
  #anime #infos .form1 input:focus ~ label,
  #anime #infos .form1 input:valid ~ label {
    transform: translate(-15px, -28px);
    -o-transform: translate(-15px, -28px);
    -webkit-transform: translate(-15px, -28px);
    -moz-transform: translate(-15px, -28px);
    -ms-transform: translate(-15px, -28px);
  }
}
#anime #infos .form1 input:focus ~ label ~ .h8t,
#anime #infos .form1 input:valid ~ label ~ .h8t {
  height: 38px;
  transform: translateY(-38px);
  -o-transform: translateY(-38px);
  -webkit-transform: translateY(-38px);
  -moz-transform: translateY(-38px);
  -ms-transform: translateY(-38px);
}
#anime #infos .form1 #buttons {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
#anime #infos .form1 #buttons .acct {
  padding: 10px;
}

#anime::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 500px;
  transform-origin: bottom right;
  background: linear-gradient(to bottom, rgb(224, 4, 224), rgb(224, 4, 224), transparent);
  animation: colRotation1 7s infinite linear;
  -webkit-animation: colRotation1 7s infinite linear;
  -o-animation: colRotation1 7s infinite linear;
  -moz-animation: colRotation1 7s infinite linear;
}
@keyframes colRotation1 {
  from {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

#anime::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 500px;
  transform-origin: top left;
  background: linear-gradient(to top, rgb(224, 4, 224), rgb(224, 4, 224), transparent);
  animation: colRotation2 7s infinite linear;
  -webkit-animation: colRotation2 7s infinite linear;
  -o-animation: colRotation2 7s infinite linear;
  -moz-animation: colRotation2 7s infinite linear;
}
@keyframes colRotation2 {
  from {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}/*# sourceMappingURL=account.css.map */