* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

::-moz-selection {
  background: rgb(253, 123, 253);
  color: rgb(44, 7, 44);
}

::selection {
  background: rgb(253, 123, 253);
  color: rgb(44, 7, 44);
}

body {
  overflow-x: hidden;
  background-color: rgb(44, 7, 44);
  margin: 0;
  font-family: Garamond, serif;
}

a {
  text-decoration: none;
  color: unset;
}

.forCheck {
  width: 100%;
}

.goToCheckout {
  border-width: 1px;
  border-style: ridge;
  border-color: rgb(253, 46, 253);
  border-radius: 8px;
  transition: 400ms;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  -moz-transition: 400ms;
  background-color: rgb(44, 7, 44);
  color: rgb(224, 4, 224);
  cursor: pointer;
  font-family: Audiowide, "Lucida Handwriting", cursive;
  font-weight: 600;
  text-align: center;
  position: absolute;
  left: 1.5%;
  width: auto;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.goToCheckout:hover {
  background-color: rgb(224, 4, 224);
  color: rgb(44, 7, 44);
}
@media only screen and (min-width: 500px) {
  .goToCheckout {
    left: 3px;
  }
}
.goToCheckout a {
  display: block;
  padding: 10.5px;
}

#cart-items {
  padding: 25px 0;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}

.item {
  color: rgb(224, 4, 224);
  border-width: 2px;
  border-style: ridge;
  border-color: rgb(180, 5, 180);
  width: 97%;
  margin: 0 0 25px;
  overflow: hidden;
  border-radius: 8px;
  /*--- REMOVE BUTTON ---*/
}
@media only screen and (min-width: 500px) {
  .item {
    margin: 0 25px 25px;
  }
}
@media only screen and (min-width: 500px) {
  .item {
    width: 350px;
  }
}
.item .labels {
  font-size: 20px;
  font-weight: bold;
}
.item .price {
  font-size: 22px;
  font-weight: bold;
}
.item .image img {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 500px) {
  .item .image img {
    height: 300px;
  }
}
.item .quantity {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  align-items: center;
}
.item .quantity .quanDesign {
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: end;
}
.item .quantity .quanDesign div {
  padding: 10px 15px;
  border: 1px solid rgb(224, 4, 224);
  height: -moz-fit-content;
  height: fit-content;
}
.item .quantity .quanDesign div:not(div:nth-child(2)) {
  cursor: pointer;
}
.item .quantity .quanDesign div:first-child {
  border-radius: 8px 0 0 8px;
}
.item .quantity .quanDesign div:nth-child(2) {
  border-width: 1px 0;
}
.item .quantity .quanDesign div:last-child {
  border-radius: 0 8px 8px 0;
}
.item article:not(.image) {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.item article {
  padding: 10px 0;
}
.item #remove {
  transition: 300ms;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  -moz-transition: 300ms;
  font-weight: 900;
  font-size: 30px;
  cursor: pointer;
}
.item #remove:hover {
  background: rgb(224, 4, 224);
  color: rgb(44, 7, 44);
}
.item article[class] {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px ridge rgb(180, 5, 180);
  padding: 10px;
}
.item article[class] div:not(.labels, .quanDesign div) {
  text-align: right;
  flex-grow: 1;
}

#checkout {
  border-width: 2px;
  border-style: ridge;
  border-color: rgb(180, 5, 180);
  width: 97%;
  margin: 0 auto 25px;
  border-radius: 8px;
}
#checkout h1 {
  text-align: center;
  margin: 0;
  font-family: Audiowide, "Lucida Handwriting", cursive;
  font-size: 13vw;
  color: rgb(180, 5, 180);
  border-bottom: 2px dashed rgb(180, 5, 180);
  padding: 30px 0;
}
@media only screen and (min-width: 500px) {
  #checkout h1 {
    font-size: 60px;
  }
}
#checkout #contain-checkout-info {
  padding: 14px;
}
#checkout article {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
#checkout article:not(#checkout article:last-child) {
  margin-bottom: 21px;
}
#checkout article .labels, #checkout article .price {
  font-size: 24px;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  #checkout article .labels, #checkout article .price {
    font-size: 30px;
  }
}
#checkout article .labels {
  color: rgb(180, 5, 180);
}
@media only screen and (max-width: 300px) {
  #checkout article .labels {
    font-size: 16px;
  }
}
#checkout article .labels span {
  color: red;
}
#checkout article .price {
  color: rgb(224, 4, 224);
}
#checkout #submitOrder {
  all: unset;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: Audiowide, "Lucida Handwriting", cursive;
  font-size: 13vw;
  color: rgb(180, 5, 180);
  transition: 300ms;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  -moz-transition: 300ms;
  border-top: 2px ridge rgb(180, 5, 180);
  padding: 15px 0;
  cursor: pointer;
}
@media only screen and (min-width: 500px) {
  #checkout #submitOrder {
    font-size: 60px;
  }
}
#checkout #submitOrder:hover {
  color: rgb(44, 7, 44);
  background-color: rgb(180, 5, 180);
}
#checkout .right {
  text-align: right;
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: end;
  width: 100%;
}
#checkout .right input, #checkout .right select {
  display: block;
  width: 100%;
  padding: 7px;
  border-radius: 8px;
  color: rgb(44, 7, 44);
  background-color: rgb(224, 4, 224);
  font-size: 20px;
  border: 1px ridge purple;
}
@media only screen and (min-width: 768px) {
  #checkout .right input, #checkout .right select {
    font-size: 30px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 300px) {
  #checkout .right input, #checkout .right select {
    font-size: 16px;
  }
}
#checkout .right input:focus, #checkout .right select:focus {
  box-shadow: 0 1px 10px rgb(224, 4, 224), 0 -1px 10px rgb(224, 4, 224), 1px 0 10px rgb(224, 4, 224), -1px 0 10px rgb(224, 4, 224);
}
#checkout ::-moz-placeholder {
  color: #535252;
  font-weight: normal;
}
#checkout ::placeholder {
  color: #535252;
  font-weight: normal;
}
#checkout .coupon input {
  border-radius: 8px 0 0 8px;
}
#checkout #enterCoupon {
  all: unset;
  transition: 300ms;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  -moz-transition: 300ms;
  border: 1px outset rgb(180, 5, 180);
  display: block;
  padding: 0 7px;
  color: rgb(224, 4, 224);
  height: 31px;
  font-weight: bold;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
@media only screen and (min-width: 301px) {
  #checkout #enterCoupon {
    height: 36px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  #checkout #enterCoupon {
    height: 47px;
    font-size: 24px;
  }
}
#checkout #enterCoupon:hover {
  background: rgb(224, 4, 224);
  color: rgb(44, 7, 44);
}
#checkout #error {
  color: red;
  font-size: 30px;
  font-weight: bold;
}/*# sourceMappingURL=cart.css.map */