* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

::-moz-selection {
  background: rgb(253, 123, 253);
  color: rgb(44, 7, 44);
}

::selection {
  background: rgb(253, 123, 253);
  color: rgb(44, 7, 44);
}

body {
  overflow-x: hidden;
  background-color: rgb(44, 7, 44);
  margin: 0;
  font-family: Garamond, serif;
}

a {
  text-decoration: none;
  color: unset;
}

.cp1, #account .acct,
#buttons .acct {
  background-color: rgb(44, 7, 44);
  color: rgb(224, 4, 224);
}

.cp2, #account .acct:hover,
#buttons .acct:hover {
  background-color: rgb(224, 4, 224);
  color: rgb(44, 7, 44);
}

/*----------- SVG -----------*/
.svg, section[id] svg {
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  transform: translateY(2px);
  -o-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
}

/*----------- SVG end -----------*/
/*----------- Header -----------*/
header {
  background: purple;
  padding: 7px;
  border-bottom: 1px ridge rgb(180, 5, 180);
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
header #logo img {
  width: 125px;
  height: auto;
}

#account,
#buttons {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  align-items: center;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
#account .acct,
#buttons .acct {
  display: block;
  margin: 0 3px;
  padding: 7px;
  font-weight: 900;
  font-family: Audiowide, "Lucida Handwriting", cursive;
  border: 1px ridge rgb(180, 5, 180);
  border-radius: 0.5rem;
  flex-grow: 1;
}
#account .acct:hover,
#buttons .acct:hover {
  border-color: rgb(44, 7, 44);
  cursor: pointer;
}

@media screen and (max-width: 279px) {
  header {
    flex-direction: column;
  }
  header #logo {
    margin-bottom: 10px;
  }
  header #account {
    width: 100%;
  }
}
/*----------- Header end -----------*/
/*----------- navigation bar -----------*/
nav {
  background: rgb(44, 7, 44);
  color: rgb(224, 4, 224);
  box-shadow: 0 2px 3px rgb(224, 4, 224);
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  align-items: center;
  position: sticky;
  top: 0;
  justify-content: space-between;
  z-index: 5 !important;
}
nav div {
  height: 50px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  align-items: center;
}
nav div article {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  align-items: center;
}
nav #home {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  align-items: center;
}
nav #home aside {
  display: none;
  transform: translateY(4px);
  -o-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  font-size: 21px;
  font-weight: 900;
}
nav section {
  padding: 0 15px;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  align-items: center;
}
nav section:hover {
  background-color: black;
  cursor: pointer;
}
nav input {
  all: unset;
  display: none;
  background: purple;
  font-size: 20px;
  font-weight: 600;
  color: rgb(44, 7, 44);
  padding: 10px;
  padding-left: 35px;
  border: 1px ridge rgb(180, 5, 180);
  border-radius: 1rem;
  cursor: text;
  height: 20px;
  width: 100%;
}
nav #search svg {
  color: rgb(224, 4, 224);
}
@media screen and (min-width: 301px) {
  #home aside {
    display: block !important;
  }
}
@media screen and (min-width: 500px) {
  #right input {
    display: inline-block !important;
  }
  #right {
    width: 60%;
    justify-content: space-between;
  }
  #search {
    height: 100%;
    flex-grow: 1;
  }
  #search svg {
    position: absolute;
    transform: translateX(7px);
    -o-transform: translateX(7px);
    -webkit-transform: translateX(7px);
    -moz-transform: translateX(7px);
    -ms-transform: translateX(7px);
    color: rgb(44, 7, 44) !important;
  }
  #sidebar {
    flex-shrink: 0;
  }
}
@media screen and (max-width: 231px) {
  nav svg {
    width: 18px !important;
    height: 18px !important;
  }
}
/*----------- navigation bar end -----------*/
/*----------- luffy image -----------*/
#bg-image {
  max-width: 100%;
  position: relative;
}
#bg-image img {
  width: 100%;
  height: auto;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}
#bg-image picture {
  z-index: -1;
}
#bg-image section {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(224, 4, 224);
  font-family: Audiowide, "Lucida Handwriting", cursive;
  font-weight: bold;
  font-size: 30px;
}
@media only screen and (max-width: 300px) {
  #bg-image section {
    font-size: 40px;
  }
}
@media only screen and (min-width: 301px) {
  #bg-image section {
    font-size: 60px;
  }
}
@media only screen and (min-width: 992px) {
  #bg-image section {
    font-size: 75px;
  }
}

/*----------- luffy image end -----------*/
/*----------- Catalog -------------*/
#main {
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  align-items: none;
  justify-content: space-between;
  font-family: Audiowide, "Lucida Handwriting", cursive;
  /*----------- context menu -----------*/
}
#main #menu {
  flex-shrink: 0;
  flex-grow: 1;
  background-color: purple;
  border-right: 1px ridge rgb(180, 5, 180);
  box-shadow: 2px 0 30px 5px rgb(224, 4, 224);
  text-align: center;
  /*----------- context menu end -----------*/
  /*----------- main section -----------*/
  /*----------- main section -----------*/
}
#main #menu h2 {
  padding: 0 7px 19.92px;
  margin-bottom: 0;
  color: rgb(44, 7, 44);
  text-align: center;
  border-bottom: 2px dashed rgb(44, 7, 44);
  text-shadow: 0 3px 10px rgb(224, 4, 224), 3px 0 10px rgb(224, 4, 224), -3px 0 10px rgb(224, 4, 224), 0 -3px 10px rgb(224, 4, 224);
}
#main #menu a {
  display: block;
  padding: 7px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px ridge rgb(180, 5, 180);
}
#main #menu a:last-child {
  border: none;
}
#main #menu a:hover {
  background: rgb(44, 7, 44);
  color: rgb(224, 4, 224);
}
@media only screen and (max-width: 600px) {
  #main #menu a {
    display: none;
  }
}
#main #menu main {
  width: 83%;
}
#main #menu main h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(44, 7, 44);
  text-shadow: 0 3px 30px rgb(224, 4, 224), 3px 0 30px rgb(224, 4, 224), -3px 0 30px rgb(224, 4, 224), 0 -3px 30px rgb(224, 4, 224);
}
#main #menu main #img-contain {
  display: grid;
  display: -moz-grid;
  grid-template-columns: auto;
  justify-content: space-around;
}
#main #menu main #img-contain .img-card {
  margin: 0 5px 25px;
  border: 1px ridge rgb(180, 5, 180);
  text-align: center;
  background-color: rgb(44, 7, 44);
  box-shadow: 0 4px 8px 1px rgba(255, 0, 255, 0.199), 0 6px 20px 1px rgba(255, 0, 255, 0.19);
}
#main #menu main #img-contain .img-card img {
  max-width: 300px;
  height: auto;
}
@media only screen and (min-width: 992px) {
  #main #menu main #img-contain .img-card img {
    height: 250px;
  }
}
@media only screen and (max-width: 353px) {
  #main #menu main #img-contain .img-card img {
    width: 100%;
    height: auto;
  }
}
#main #menu main #img-contain .img-card article {
  padding: 0 5px 5px;
  color: rgb(224, 4, 224);
}
#main #menu main #img-contain .img-card:hover {
  border-color: purple;
  cursor: pointer;
  box-shadow: 0 4px 30px 20px rgb(255, 0, 255), 0 6px 40px 20px rgb(255, 0, 255);
}
@media only screen and (min-width: 992px) {
  #main #menu main #img-contain {
    grid-template-columns: auto auto !important;
  }
}
@media only screen and (max-width: 600px) {
  #main #menu main {
    width: 100% !important;
  }
}

/*----------- Catalog end -----------*/
/*----------- footer -----------*/
footer {
  background: purple;
  position: relative;
  z-index: 5;
  padding: 7px;
  border-top: 1px dashed rgb(44, 7, 44);
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  align-items: center;
}
footer section {
  width: 100%;
  padding: 7px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
footer section a {
  text-decoration: none;
  color: rgb(44, 7, 44);
}
footer section a:hover {
  text-decoration: underline;
  color: rgb(224, 4, 224);
  text-shadow: -1px 0 5px black, 0 1px 5px black, 1px 0 5px black, 0 -1px 5px black;
}

@media screen and (min-width: 500px) {
  footer section {
    width: 50%;
    text-align: left;
  }
  #copyright {
    order: 1;
  }
  #whatsapp {
    order: 2;
  }
  #locate {
    order: 3;
  }
  #instagram {
    order: 4;
  }
}
@media screen and (max-width: 330px) {
  footer section {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  footer {
    box-shadow: 0 -1px 20px 5px rgb(255, 0, 255), 0 -1px 20px 5px rgb(255, 0, 255);
  }
}
/*----------- footer end -----------*//*# sourceMappingURL=shop1.css.map */