// colors
$c4: black;
$c1: rgb(48, 47, 47);
$c2: purple;
$c3: magenta;

// padding
$pad: 7px;

// medias
$miniP: "min-width: 300px";
$phone: "max-width: 450px";
$porTablet: "min-width: 768px";
$laptop: "min-width: 992px";